
body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* background-color: black; */
}
.cstyle {
  border: 2px black solid;
  background-color: darkgrey;
  /* margin: auto; */
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.none {
  display: none;
}

.instruction-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .customize-background {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

.instruction-modal {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.customize-modal {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 700px;
padding: 0px 0px 33px 0px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.closeC {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeC:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.table {
  border: 1px solid black;
  text-align: left;
  margin: auto;
}

.table tr th {
  border: 1px solid black;
  padding: 5px;
}

.table tr td {
  border: 1px solid black;
}

.equal {
  width: 135px;
  height: 100%;
}
input {
    width: 96%;
    margin: 0px;
    text-align: center;
}

#survivalFind {
  width: 50px;
}
#simSpeed {
  width: 50px;
}

.center {
  margin: 0 auto;
  text-align: center;
  color: white;

}

.big {
  font-size: 50px;
  font-family: Kirang Haerang;
}

.small {
  font-family: Puritan;
}

.top-buttons div {
  width: 600px;
  margin: auto;

}

/* .inner-left {
  float: left;
} */

.inner-right {
float: left;
}

#openI {
  position: absolute;
  left: 90%;
  bottom: 95%;
}

.button-list {
  list-style: none;
}

.button-list li button{
  height: 200px;
  width: 200px;

}

.canvas-button-holder {
  display: flex;
}
