
body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* background-color: black; */
}
.cstyle {
  border: 2px black solid;
  background-color: darkgrey;
  /* margin: auto; */
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.cstyle:hover {
  cursor: crosshair;
}

.none {
  display: none;
}

.instruction-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .customize-background {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

.instruction-modal {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 2px solid black;
width: 80%;
padding: 0px;
border-radius: 10px;
}

.customize-modal {
background-color: #fefefe;
border-radius: 10px;
margin: 15% auto;
padding: 20px;
border: 2px solid black;
width: 700px;
padding: 0px 0px 33px 0px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.closeC {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 15px;
}

.closeC:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.table {
  border: 1px solid black;
  text-align: left;
  margin: auto;
}

.table tr th {
  border: 1px solid black;
  padding: 5px;
}

.table tr td {
  border: 1px solid black;
}

.equal {
  width: 135px;
  height: 100%;
}
input {
    width: 96%;
    margin: 0px;
    text-align: center;
}

#survivalFind {
  width: 50px;
}
#simSpeed {
  width: 50px;
}

.center {
  margin: 0 auto;
  text-align: center;
  color: white;
}

.center2 {
  margin: 0 auto;
  text-align: center;
  color: black;
    font-family: Puritan;
    padding-top: 20px;
}

.big {
  font-size: 50px;
  font-family: Kirang Haerang;
}

.small {
  font-family: Puritan;
}

.top-buttons div {
  width: 600px;
  margin: auto;

}

/* .inner-left {
  float: left;
} */

.inner-right {
float: left;
}

#openI {
  position: absolute;
  /* left: 93%;
  bottom: 90%; */
  top: 13px;
  right: 13px;
  background-color: #3d3a3d;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: .5px black solid;
}

.button-list {
  list-style: none;
}

.button-list li button{
  height: 200.5px;
  width: 150px;

}


.canvas-button-holder {
  display: flex;
  width: 1104px;
  margin: auto;
}

 ul {
   padding: 0;
   margin: 0;
   margin-top: 1px;
 }

 button {
   padding: 0;
   border: .5px black solid;
   font-family: Puritan;
   font-size: 18px;
    color: white;
 }

 button:focus {
   outline:0;
 }

#start, #openC, #addZombies, #reset {
 background-color: #4f1d4f;
}

#start:hover, #openC:hover, #addZombies:hover, #reset:hover, #resetSettings:hover {
  cursor: pointer;
  background-color: #a020a0;
}

#pause,#addPeople  {
  background-color: #3d3a3d;
}

#pause:hover, #addPeople:hover, #openI:hover {
  background-color: #696770;
  cursor: pointer;
}

.info-par {
  font-family: Puritan;
  padding: 0px 20px  0px 20px;
}
.info-par3 {
  font-family: Puritan;
  padding: 0px 20px  0px 20px;
  text-align: center;
}

.info-par2 {
  font-family: Puritan;
  padding: 0px 20px  0px 20px;
  width: 590px;
  margin: 5px auto;
}

.info-list {
  padding-left: 35px;
  padding-bottom: 20px;
}

.info-list li{
  font-family: Puritan;
}

#survivalFind{
  margin-right: 26px;
}

#simSpeed {
  margin-right: 27px;
}

#resetSettings {
  background-color: #4f1d4f;
  font-size: 14px;
  width: 100px;
  position: relative;
  right: -2px;
}
